<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Cart QA WebUI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.amazon.webui.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PMHomeServlet</display-name>
    <servlet-name>PMHomeServlet</servlet-name>
    <servlet-class>com.amazon.webui.servlet.pm.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PMHomeServlet</servlet-name>
    <url-pattern>/pm/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PMAddProductServlet</display-name>
    <servlet-name>PMAddProductServlet</servlet-name>
    <servlet-class>com.amazon.webui.servlet.pm.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PMAddProductServlet</servlet-name>
    <url-pattern>/pm/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PMDeleteProductServlet</display-name>
    <servlet-name>PMDeleteProductServlet</servlet-name>
    <servlet-class>com.amazon.webui.servlet.pm.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PMDeleteProductServlet</servlet-name>
    <url-pattern>/pm/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RMHomeServlet</display-name>
    <servlet-name>RMHomeServlet</servlet-name>
    <servlet-class>com.amazon.webui.servlet.rm.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RMHomeServlet</servlet-name>
    <url-pattern>/rm/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PMProductServlet</display-name>
    <servlet-name>PMProductServlet</servlet-name>
    <servlet-class>com.amazon.webui.servlet.pm.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PMProductServlet</servlet-name>
    <url-pattern>/pm/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoHomeServlet</display-name>
    <servlet-name>DemoHomeServlet</servlet-name>
    <servlet-class>com.amazon.webui.servlet.demo.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoHomeServlet</servlet-name>
    <url-pattern>/demo/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RMAddBuildServlet</display-name>
    <servlet-name>RMAddBuildServlet</servlet-name>
    <servlet-class>com.amazon.webui.servlet.rm.AddBuildServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RMAddBuildServlet</servlet-name>
    <url-pattern>/rm/AddBuild</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QAHomeServlet</display-name>
    <servlet-name>QAHomeServlet</servlet-name>
    <servlet-class>com.amazon.webui.servlet.qa.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QAHomeServlet</servlet-name>
    <url-pattern>/qa/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusServlet</display-name>
    <servlet-name>BusServlet</servlet-name>
    <servlet-class>com.amazon.webui.servlet.BusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusServlet</servlet-name>
    <url-pattern>/Bus</url-pattern>
  </servlet-mapping>
</web-app>